<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Andrew McDonald</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
		<link rel="icon" type="image/x-icon" href="/favicon.ico">

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/skeleton.css">
		<link rel="stylesheet" href="css/custom.css">
		<script src="js/vendor/modernizr-2.8.3.min.js"></script>
		<script src="js/vendor/angular.js"></script>
	</head>
	<body class="container">
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<h1>Andrew McDonald</h1>
		<p>This is a paragraph.</p>
		
		<div>
			<h2>Technical Skills and Abilities</h2>
			<hr>
			<p>
				Expert: Java, Python
				Competent: C, Django Web Framework, ROS (Robot Operating System), SQL, Git, SVN, LaTeX
				Novice: Akka with Scala, Haskell, C#, Assembly Language, VHDL, Electronic Design (Cadence OrCAD)
			</p>
			<p>
				Experience with Agile development and the Windows, Mac and GNU/Linux operating systems.
			</p>
		</div>
		
		<div>
			<h2>Education and Qualifications</h2>
			<hr>
			<div>
				<div class="row">
					<h5>
						<div class="nine columns">University of Glasgow</div>
						<div class="three columns">Glasgow, Scotland</div>
					</h5>
				</div>
				<div class="row">
					<h5>
						<i>
						<div class="nine columns">Computing Science B.Sc.(Hons), 2:1</div>
						<div class="three columns">2011–2015</div>
						</i>
					</h5>
				</div>	
				
				<div>
					
					<div class="row">
						<div class="one column">2014-2015:</div>
						<div class="eleven columns">
							<i>
								Individual Project: Developed a reference binocular 3D vision system to be mounted on the Baxter robot, a full-size two armed humanoid robot.
							</i>
							<ul class="in rows of three">
								<li>Distributed Algs & Systems</li>
								<li>Computer Architecture</li>
								<li>Functional Programming</li>
								<li>Computer Vision Methods & Applications</li>
								<li>Safety Critical Systems</li>
								<li>Cyber Security</li>
								<li>Software Engineering for Financial Systems</li>
								<li>Prof Skills & Issues</li>
								<li>Advanced Op Systems (M)</li>
							</ul>
						</div>
						
					</div>
					
					<div class="row">
						<div class="one column">2013-2014:</div>
						<div class="eleven columns">
							<i>
								Team Project: Working with a team in the creation of an interesting demonstration of the Clopema robot, working via the Robot Operating System interface.
							</i>
							<ul class="in rows of three">
								<li>Professional Software Development</li>
								<li>Algorithmics</li>
								<li>Advanced Programming</li>
								<li>Distributed Information Management</li>
								<li>Operating Systems</li>
								<li>Networked Systems</li>
								<li>Database Systems</li>
								<li>Interactive Systems</li>
								<li>Programming Languages</li>
							</ul>
						</div>
					</div>
					
					<div class="row">
						<div class="one column">2012-2013:</div> 
						<div class="eleven columns">
							<ul class="in rows of three">
								<li>Object-Oriented Software Engineering 2</li>
								<li>Analogue Electronics 2</li>
								<li>Digital Electronics 2</li>
								<li>Algorithms and Data Structures 2</li>
								<li>Computer Systems 2</li>
								<li>Embedded Processors 2</li>
								<li>Electronic Design Project 2</li>
								<li>Java Programming 2</li>
								<li>Algorithmic Foundations 2</li>
								<li>Information Management 2</li>
								<li>Electrical Circuits 2</li>
								<li>Mathematics AE2V</li>
							</ul>
						</div>
					</div>
					
					<div class="row">
						<div class="one column">2011-2012:</div> 
						<div class="eleven columns">
							<ul class="in rows of three">
								<li>Computing Science 1P (Python)</li>
								<li>Computing Science 1Q</li>
								<li>Electronic Engineering 1X</li>
								<li>Electronic Engineering 1Y</li>
								<li>Maths 1R</li>
								<li>Maths 1S</li>
							</ul>
						</div>
					</div>
					
				</div>
				
				<div class="row">
					<h5>
						<div class="nine columns">Saint Ninians High School</div>
						<div class="three columns">Glasgow, Scotland</div>
					</h5>
				</div>
				<div class="row">
					<h5>
						<i>
						<div align="right">2005–2011</div>
						</i>
					</h5>
				</div>
				
				<div>
					<div class="row">
						<div class="one column">2010-11:</div>
						<div class="eleven columns">
							<ul class="in rows of two">
								<li>Advanced Higher Mathematics B</li>
								<li>Advanced Higher Biology C</li>
								<li>Higher Computing A</li>
								<li>Higher Physics B</li>
							</ul>
						</div>
					</div>
					
					<div class="row">
						<div class="one column">2009-10:</div>
						<div class="eleven columns">
							<ul class="in rows of two">
								<li>Higher Biology A</li>
								<li>Higher Chemistry A</li>
								<li>Higher Mathematics A</li>
								<li>Higher English B</li>
								<li>Higher Modern Studies B</li>
							</ul>
						</div>
					</div>
					
					<div class="row">
						<div class="one column">2007-09:</div>
						<div class="eleven columns">
							7 A’s in Intermediate 2 Maths, English, French, Modern Studies, Information Systems, Chemistry, Biology and a B in Music plus a Sports Leadership Level 1 Award.	
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div>
			<h2>Work Experience</h2>
			<hr>
			<div>
				<div class="row">
					<h5>
						<div class="nine columns">JP Morgan Chase</div>
						<div class="three columns">Glasgow, Scotland</div>
					</h5>
				</div>
				<div class="row">
					<h5>
						<i>
						<div class="nine columns">10 week technology internship</div>
						<div class="three columns">June 2014–August 2014</div>
						</i>
					</h5>
				</div>
				<div>
					During the internship worked on the Firmwide Business Intelligence team. I automated the process of collating data from multiple data sources, generating an Excel spreadsheet report from them. This involved unmarshalling the different data formats from the data sources web API’s, and the use of POJO data sources in BIRT.
				</div>
				<div class="row">
					<h5>
						<div class="nine columns">Shawlands Cross Dental Practice</div>
						<div class="three columns">Glasgow, Scotland</div>
					</h5>
				</div>
				<div class="row">
					<h5>
						<i>
						<div class="nine columns">General labourer for building project</div>
						<div class="three columns">2010</div>
						</i>
					</h5>
				</div>
				<div>
					Worked as general labourer for a building project, the construction of a Local Decontamination Unit.
				</div>
				<div class="row">
					<h5>
						<div class="nine columns">McBride & Co. Solicitors</div>
						<div class="three columns">Glasgow, Scotland</div>
					</h5>
				</div>
				<div class="row">
					<h5>
						<i>
						<div class="nine columns">Work experience</div>
						<div class="three columns">2008</div>
						</i>
					</h5>
				</div>
				<div>
					Whilst working at McBride & Co. Solicitors my responsibilities included research, work shadowing and administrative tasks
				</div>
			</div>
		</div>

	</body>
</html>
