<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Andrew McDonald</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
		<link rel="icon" type="image/x-icon" href="/favicon.ico">

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/skeleton.css">
		<script type="text/javascript">
			function Redirect() {
			   window.location="/";
			}
			
			document.write("You will be redirected to main page in 10 sec.");
			setTimeout('Redirect()', 10000);
		</script>
	</head>
	
	<body>
	
	{% if current == latest %}
		Up to date. On revision: {{ current }}
	{% else %}
		Updated. Was on revision {{ current }}, is now on revision {{ latest }}.
	{% endif %}

	</body>
</html>
